<% if user_signed_in? %>
  <div class="content">
    <div class="loan-header">
      <h3>Borrowings</h3>
    </div>
    <div class="loans">
      <ul class="loan-list">
        <% @borrowings.each do |l| %>
          <li class="loan-item">
            <div class="loan-details">
              <p>You have something</p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>