<div>
	<ul>
		<% @loans.each do |l| %>
			<li><p><%= l.person %> has <%= l.item %></p><div><%= link_to "Return loan.", edit_loan_path(l.id)%></div></li>
		<% end %>
	</ul>
</div>
<div><%= link_to "New loan.", new_loan_path %></div>
