<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reminder from stuff.com, <%= @user.name %></h1>
    <p>
      A quick reminder that you have @loan.item of @user.name
    </p>
  </body>
</html>