<div id="new-loan" class="hero-unit" >
  <h2>Create a new loan</h2>
  <%= render '/loans/form' %>
</div>

<div>
  <h2>Recent loans</h2>
  <table class="table">
    <% @recent_loans.each do |loan| %>
      <%= render '/loans/shared/loan_item', :loan => loan %>
    <% end %>    
  </table>
<div>    
