<div class="content">
  <div class="loan-header">
    <h3>Loans</h3>
  </div>
  <div class="loans">
  <table class="table">
    <thead>
      <th>Borrower</th>
      <th>Stuff</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @loans.each do |loan| %>
        <%= render '/loans/shared/loan_item', :loan => loan %>
      <% end %>
    </tbody>    
  </table>
  </div>
</div>
