/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require normalize
 *= require layout
 *= require_tree .
*/

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.new-loan {
margin: 60px 0;
text-align: center;
}