// Place all the styles related to the Loan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-content {
  text-align: center;
}

.top-margin {
  margin-top: 10px;
}

.counter-container {
  position: relative;
}

.counter {
  position: absolute;
  left: 281px;
  top: 47px;
  font-size: 62px;
  p {
    color: white;
  }
}

.loans-image {
  z-index: -1;
}

.create-loan {
  text-align: center;
}