// Place all the styles related to the Loan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-content {
  text-align: center;
}

.top-margin {
  margin-top: 10px;
}

.counter-container {
  position: relative;
}

.counter {
  position: absolute;
  left: 281px;
  top: 47px;
  font-size: 62px;
}

.loans-image {
  z-index: -1;
}

.loans-container {
  width: 300px;
  margin-bottom: 46px;
  padding: 3px;
  background: #EDEDED;
  border-radius: 3px;
}

.loan-header {
  background: #0B6BB7;
  overflow: hidden;
  position: relative;
  color: #FEFEFE;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(42, 42, 42, 0.15);
  padding: 0 10px;
  height: 32px;
  line-height: 34px;

  h3 {
    color: #FEFEFE;    
  }
}

.loan-list {
  min-height: 30px;
  margin: 0;
}

ul.loan-list {
  list-style: none;
}

.loan-item {
  border-bottom: 1px solid #C9C9C9;
  padding: 0px 10px;
  font-size: 18px;
  color: #888;
  background-color: #FEFEFE;
  font-weight: 500;

  li {
    line-height: 18px;    
  }
}

.create-loan {
  text-align: center;
}