<div id="footer">
  <div class="container">
    <ul class="nav nav-pills">
    <li><%= link_to "Contact" %></li>
    <li><%= link_to "Help" %></li>
    <li><%= link_to "Uservoice" %></li>
    <li>&copy; 2012-2013 SoftwareUnityAU. All Rights Reserved. All Wrongs Reversed.</li>
    </ul>
  </div>  
</footer>