%footer{:id => "page-footer"}
  %ul
    %li 
      = link_to "Contact"
    %li 
      = link_to "Help"
    %li 
      = link_to "Uservoice"
  %p 
    &copy; 2012 SoftwareUnityAU. All Rights Reserved. All Wrongs Reversed.